.custom-modal {
    width: 100% !important;
    height: 100% !important;
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    z-index: 10;
    background-color: rgba(33, 33, 33, 0.48) !important;
    .custom-modal-container {
        width: 90%;
        height: 90%;
        position: absolute;
        top: 5%;
        left: 5%;
        background-color: #FFF;
        @include box-shadow(0 6px 10px 0 rgba(0, 0, 0, 0.3));
        iframe {
            position: absolute !important;
            border: none;
        }
        .modal-footer {
            bottom: 0;
            right: 0;
            position: absolute;
            border-top: none;
        }
    }
}
