.pagination {
  li{
    a {
      height: 34px;
      line-height: 16pt;
    }
  }
  > li {
    > a{
      background-color: #7DA1C4;
      border: 1px solid #FFF;
      transition: all 0.35s linear 0s;
      color: #FFF;
      border-radius: 0px !important;
      font-size: 12pt;
      :hover{

      }
    }
  }
  > .active{
    > a{
      z-index: 1;
    }
  }
}


.nav {
  > li{
    > a{
      :hover, :focus{
        background-color: #FE5000;
        color: #FFF;
        border: 1px solid #FE5000;
        transition: all 0.35s linear 0s;
      }
    }
  }
}

.nav-pill-active{
  background-color: $orange;
  color: #FFF;
  border: 1px solid #FFF;
  transition: all 0.35s linear 0s;
}

.nav-pills{
  > li{
    > a{
      :hover{
        @extend .nav-pill-active;
      }
    }
  }
  > li.active{
    > a{
      @extend .nav-pill-active;
       :hover, :focus{
         @extend .nav-pill-active;
       }
    }
  }
}

.nav-tab-active{
  border: 1px solid #414042;
  border-bottom: 1px solid #FFF;
}

.nav-tabs {
    border-bottom: 1px solid #414042;
    margin-bottom: 10px;
    > li {
      > a {
        background-color: #7DA1C4;
        transition: all 0.35s linear 0s;
        color: #FFF;
        border-bottom: 1px solid #414042;
        border-radius: 0;
        font-size: 13px;
    }
  }
  > li.active{
    > a{
      @extend .nav-tab-active;
      :hover, :focus{
        @extend .nav-tab-active;
      }
    }
  }
  li.has-error{
    > span.glyphicon-warning-sign {
        position: absolute;
        z-index: 2;
        color: #a94442;
    }
  }
}


.label-list {
    padding: 0;
    border: 1px solid #CFCFCF;
    padding: 0 8px;
    min-height: 60px;
    li {
        background-color: #EFEEED;
        line-height: 1;
        font-family: "Open Sans",sans-serif;
        font-size: 12pt;
        color: #414042;
        height: 25px;
        padding: 0.2em 2em 0.3em 0.6em;
        vertical-align: baseline;
        font-style: normal;
        display: inline-block;
        position: relative;
        margin: 3px 5px 3px 0px;
        .label-list-remove {
            position: absolute;
            top: 0;
            right: 0;
            text-decoration: none;
            background-color: #7DA1C4;
            line-height: 19pt;
            color: #FFF;
            font-size: 10pt;
            padding: 0px 5px;
            right: 0px;
            height: 25px;
            display: inline-block;
            width: 23px;
            transition: all 0.35s linear 0s;
            :hover {
                text-decoration: none;
                color: #FFF;
                background-color: #FE5000;
            }
            :before {
                font-family: "Glyphicons Halflings";
                content: "\e014";
            }
        }
    }
}



.tab-pane {
    margin-top: 20px;
}


ul#thumbnails {
    list-style-type: none;
    > li.thumbnail{
      > img {
       width: 200px;
       margin-right: 10px;
       float: left;
     }
   }
}


ul#thumbnailsCoverage {
    list-style-type: none;
    > li.thumbnail {
      > img {
        width: 200px;
        margin-right: 10px;
        float: left;
    }
  }
}
