@mixin word-wrap() {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: keep-all;
	word-break: break-word;
	-ms-hyphens: none;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}