.btn {
    font-family: $normal-font;
    font-weight: normal;
    font-size: 12pt;
    margin-bottom: 7px;
    border-radius: 0;
    height: 34px;
    line-height: 16pt;
}

.btn-file {
    position: relative;
    overflow: hidden;
    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 999px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
}


.btn, .col-actions .btn {
    background-color: #7DA1C4;
    transition: all 0.35s linear 0s;
    color: #FFF;
    border: none;
    font-style: normal;
}

    .btn.btn-purple {
        background-color: #5d4777;
    }

    .btn:hover, .btn:focus, a.btn:hover, a.btn:focus{
        background-color: #FE5000;
        color: #FFFFFF!important;
        border: none;
        font-style: normal;
    }

     .btn:hover span, .btn span:hover{
        color: #FFFFFF!important;
     }


    .btn.disabled {
        background-color: #FFF !important;
        color: #cfcfcf;
        border: 1px solid #cfcfcf;
        opacity: 1;
        cursor: not-allowed;
    }

        .btn.disabled:hover {
            color: #cfcfcf;
        }

.btn-xs {
    font-size: 10pt !important;
    padding: 3px;
    height: 22px !important;
}

.input-group-btn > .btn {
    padding: 6px 12px;
    height: 34px;
}

.btn-group > .btn {
    float: none !important;
}


.btn-table-row-5 {
    margin: -2px;
    &:after{
        clear: both;
        display: block;
        content: "";
        margin-bottom: 4px;
    }
    .table-btn-container {
        width: 20%;
        float: left;
        display: inline-block;
        padding: 2px;
        .btn {
            width: 100%;
            margin: 0;
        }
        @media(max-width:1199px){
            width: 25%;
        }
        @media(max-width:991px){
            width: 33.333%;
        }
        @media(max-width:720px){
            width: 50%;
        }
        @media(max-width:400px){
            width: 100%;
        }
    }
}