.btn,
a.btn,
button.btn {
    font-family: $normal-font;
    font-weight: normal;
    font-size: 12pt;
    font-style: normal;
    margin-bottom: 7px;
    border: 1px solid transparent;
    border-radius: 0;
    height: 34px;
    line-height: 16pt;
    text-decoration: none;
    background-color: $bright-blue;
    background-position: center;
    color: #FFF;
    @include transition(all 0.35s linear 0s);
    &:hover,
    &:focus {
        background-color: $orange;
        color: #FFFFFF!important;
        border: 1px solid transparent;
        font-style: normal;
        font-size: 12pt;
        line-height: 16pt;
        span {
            color: #FFFFFF;
        }
    }
    &.disabled,
    &[disabled] {
        background-color: #FFFFFF;
        color: $disabled-color;
        border: 1px solid $disabled-color;
        opacity: 1;
        cursor: not-allowed;
        &:hover {
            border: 1px solid $disabled-color;
            color: $disabled-color;
            span {
                color: $disabled-color;
            }
        }
        span {
            &:hover {
                color: $disabled-color;
            }
        }
        &:focus {
            border: 1px solid $disabled-color;
            color: $disabled-color!important;
            span {
                color: $disabled-color!important;
            }
        }
    }
    span {
        &:hover {
            color: #FFFFFF;
        }
    }
    &.btn-purple {
        background-color: $purple;
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 999px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
}

.btn-xs {
    font-size: 10pt !important;
    padding: 3px 9px;
    height: 25px !important;
    line-height: 14pt;
    &:hover {
        line-height: 16pt!important;
        font-size: 10pt;
    }
}

.input-group-btn > .btn {
    padding: 6px 12px;
    height: 34px;
}

.btn-group > .btn {
    float: none !important;
}

.btn-table-row-5 {
    margin: -2px;
    &:after {
        clear: both;
        display: block;
        content: "";
        margin-bottom: 4px;
    }
    .table-btn-container {
        width: 20%;
        float: left;
        display: inline-block;
        padding: 2px;
        .btn {
            width: 100%;
            margin: 0;
        }
        @media(max-width:1199px) {
            width: 25%;
        }
        @media(max-width:991px) {
            width: 33.333%;
        }
        @media(max-width:720px) {
            width: 50%;
        }
        @media(max-width:400px) {
            width: 100%;
        }
    }
}
