.download-form p {
    margin-bottom: 0;
}

#orderlist,
#responseList {
    h2 {
        margin-top: 0;
        display: inline-block;
        font-size: 18pt;
        line-height: 31pt;
        margin-bottom: 0;
        &:after {
            content: none;
        }
    }
    a {
        text-decoration: none;
    }
    ul li {
        font-style: normal;
    }
    .orderlines {
        margin-bottom: 22px;
    }
    .orderline {
        padding: 12px;
        &.orderline-master {
            border-bottom: 2px solid $orange;
            background-color: #fff!important;
        }
        &:nth-child(odd) {
            background-color: #fbfcfc;
        }
        &:nth-child(even) {
            background-color: #f7f8f8;
        }
        > .readonly {
            p {
                display: none;
            }
            .orderline-fields {
                margin-left: 0;
                margin-right: 0;
                display: inline-block;
            }
        }
        .orderline-field-counter {
            height: 34px;
            display: inline-block;
            vertical-align: top;
            margin-right: 6px;
            padding-right: 6px;
            border-right: 1px solid #eaebeb;
            .custom-icon-warning {
                margin-top: 3px;
                cursor: pointer;
            }
            .custom-icon-checked {
                margin-top: 5px;
            }
        }
    }
}

.orderline-errors .custom-icon {
    width: 21px;
    height: 21px;
    float: right;
}

.form-group.disabled,
.form-group.disabled .btn:hover {
    cursor: not-allowed !important;
}

.disabled .btn {
    opacity: 0.65;
    pointer-events: none !important;
}

.list-icon {
    text-align: center;
}

.list-icon img {
    max-height: 75px;
    max-width: 100%;
}

.list-btn-remove {
    border-left: 1px solid #CCC;
    padding-left: 5px;
    color: #777;
    font-size: 16pt;
}

.list-btn-remove:hover {
    cursor: pointer;
    color: #333;
    font-size: 16pt;
}

.btn-nodivider .glyphicon {
    padding-right: 0;
    margin-right: 0;
    border-right: 0;
}

.input-group .btn.btn-fullheight {
    height: 100%;
    position: absolute;
    top: 0;
}


/* Nedlastingskvittering */

    .download-list-subitem {
        padding: 0 12px;
        line-height: 24pt;
        a.btn, a.btn:hover, a:btn:focus {
            line-height: 17pt;
            margin-bottom: 0;
            height: 25px;
            width: 100%;
            padding: 0;
        }
        .icon-col {
            text-align: center;
            a{
                margin-bottom: 0;
            }
        }
    }

