.facet-sok-tittel {
  display: block;
  margin-top: 6px;
  p {
    display: inline;
    font-size: 12pt;
    line-height: 16pt;
  }
  .indicator {
    background-image: url($assets-directory+"/images/svg/arrow-down.svg");
    width: 11px;
    height: 12px;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: inline-block;
    margin-right: 7px;
    :before {
      /* content: "\e113";*/
    }
  }
}

.facet-sok-tittel.collapsed .indicator {
  background-image: url($assets-directory+"/images/svg/arrow-right.svg");
}

.facet-sok-undertitler {
  li {
    font-size: 12pt;
    line-height: 18pt;
    a {
      font-size: 12pt;
      line-height: 18pt;
      font-style: normal;
      color: $dark-blue;
      :hover {
        font-size: 12pt!important;
        line-height: 18pt!important;
        color: $dark-blue;
      }
    }
    .btn-link.active{
      color: #414042;
      font-style: normal;
      &:hover{
        color: #414042;
        text-decoration: none;
      }
    }
  }
}

.facet-sok-emne {
  margin-top: 4px;
  ul{
    li {
      background-image: none;
      padding-left: 30px;
      ul{
        li {
         padding-left: 15px;
       }
     }
   }
   li.hide-children > ul > li.filter-options {
    display: none;
  }
}
}


aside.facet-sok-emne ul li a:hover{
  font-size: 12pt;
  line-height: 18pt;
}