.facet-filter-container {
    padding: 15px 0;
    margin-top: 4px;
}

.facet-filter {
    .facet-filter-item {
        color: $dark-blue;
        font-size: 12pt;
        line-height: 18pt;
        .facet-filter-sub-item-list {
            display: none;
            &.active {
                display: block;
                margin-left: 10pt;
            }
        }
    }
    .indicator {
        background-image: url(/Content/bower_components/kartverket-felleskomponenter/assets/images/svg/arrow-right.svg);
        width: 11px;
        height: 12px;
        padding: 0;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 50%;
        display: inline-block;
        margin-right: 2px;
        &.active {
            background-image: url(/Content/bower_components/kartverket-felleskomponenter/assets/images/svg/arrow-down.svg);
        }
        &.no-indicator {
            background: none;
        }
    }
    .facet-checkbox {
        display: inline;
        cursor: pointer;
        &:before {
            display: inline-block;
            width: 12pt;
            line-height: 12pt;
            vertical-align: middle;
            content: url(/Content/bower_components/kartverket-felleskomponenter/assets/images/svg/checkbox-unchecked.svg);
        }
    }
    .is-empty {
        display: none;
        .facet-checkbox {
            color: $disabled-color;
            &:before {
                content: url(/Content/bower_components/kartverket-felleskomponenter/assets/images/svg/checkbox-unchecked-disabled.svg);
            }
            .text-muted {
                color: $disabled-color;
            }
        }
    }
    .selected {
        display: block;
        .facet-checkbox {
            &:before {
                content: url(/Content/bower_components/kartverket-felleskomponenter/assets/images/svg/checkbox-checked.svg);
            }
        }
    }
    .is-empty.selected {
        display: block;
        .facet-checkbox {
            &:before {
                content: url(/Content/bower_components/kartverket-felleskomponenter/assets/images/svg/checkbox-checked-disabled.svg);
            }
        }
    }
}
