input[readonly] {
	cursor: default !important;
}

.form-group.required .control-label:after, .panel-heading.required:after {
	content: " *";
	color: red;
}

.form-group.has-feedback .form-control-feedback {
	display: none;
}

.form-group.has-feedback.has-error .form-control-feedback {
	display: block;
}


.checkbox-inline {
	margin-right: 10px;
}


.upload-group{
	.bootstrap-filestyle{
		width: calc(100% - 93px);
		display: inline-table;
		@media (max-width: 480px){
			display: table;
			width: auto;
		}
	}
	.upload-btn{
		position: relative;
		top: -9.5px;
		@media (max-width: 480px){
			display: block;
		}
	}
}