.no-padding {
	padding: 0;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-top-10 {
	margin-top: 10px;
}
.full-width{
	width: 100%!important;
}
.no-border-radius,
.no-border-radius input{
	border-radius: 0!important;
}

span.hypernation{
	@media (max-width: 991px) {
		display: none;
	}
}
