.label {
    font-family: $normal-font;
    display: inline-block;
    font-weight: 600;
    font-size: 10pt;
    line-height: 14pt;
    text-align: left;
    vertical-align: middle;
    border: none;
    border-radius: 0;
    border-left: 4px solid #efeeed;
    background-color: #efeeed;
    color: #414042;
    width: 100px;
    padding-left: 5px;
    white-space: normal;
    height: auto;
}

h1 .label {
    font-size: 20pt;
    margin-left: 26px;
    vertical-align: middle;
}

.heading .label{
    margin-bottom: 8px;
}

.label-datasett,
.label-dataset {
    border-color: #5d4777;
}

.label-applikasjon,
.label-application {
    border-color: $bright-blue;
}

.label-tjeneste,
.label-service {
    border-color: #a9c47f;
}

.label-tjenestelag,
.label-servicelayer {
    border-color: #f0b323;
}

.label-datasettserie {
    border-color: #968c84;
}

.label-datapakke {
    border-color: #5d4777;
}

.label-danger {
    border-color: $dark-red;
}

.label-warning {
    border-color: $dark-yellow;
}

.label-success {
    border-color: $dark-green;
}

.label-info {
    border-color: $bright-blue;
}

.required-indicator::after,
.form-group.required .control-label::after,
.panel-heading.required::after {
    content: "*";
    color: $dark-red;
}
