#norgeskartmodal {
    width: 90%;
    position: fixed;
    height: 90%;
    margin: auto;
    left: 5%;
    top: 5%;
    overflow: hidden;
    background: #FFF;
    iframe {
        height: 100%;
        position: fixed;
    }
    .modal-footer {
        position: fixed;
        bottom: 10px;
        width: auto;
        right: 103px;
        background-color: #DEDCD9;
        border-top: none;
        padding: 9.5pt;
    }
}
