#feedback-alert {
    display: none;
    position: fixed;
    z-index: 15;
    bottom: 0px;
    width: 100%;
    left: 0px;
    margin: 0px;
    border-radius: 0px;
}

.container-breadcrumbs {
    font-size: 14px;
    line-height: 1.42857;
}

.container-breadcrumbs ul > li {
    background-image: url($assets-directory+"/images/svg/breadcrumb-arrow.svg");
}


.tooltip-inner {
    min-width: 100px;
}


.progress {
    height: 30px;
}

.progress-bar {
    font-size: 12pt;
    line-height: 20pt;
    background-color: $orange;
}


/* styles for validation helpers */
.field-validation-error {
    color: $dark-red;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid $dark-red;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #333;
    border: none;
    border-left: 8px solid $dark-red;
    border-radius: 0;
    background-color: #FFF;
    
}

.validation-summary-valid {
    display: none;
}


.service-layer-info {
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    border-style: solid;
}

.has-error{
    &.checkbox-inline label,
    &.checkbox label,
    &.radio-inline label,
    &.radio,
    .checkbox,
    .checkbox-inline,
    .control-label,
    .help-block,
    .radio,
    .radio-inline,
    .form-control-feedback{
        color: $dark-red;
    }
}

.toggle-content{
    text-decoration: none;
    color: #3867c8;
    &:hover, &:focus{
        text-decoration: none;
        color: #3867c8;
    }
    .toggle-icon{
        &:before{
            font-family: Glyphicons Halflings;
            content: "−";
            display: inline-block;
            font-size: .8em;
            margin-right: .2em;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
    &.show-content{
        .toggle-icon{
            &:before{
                content: "+";
            }
        }
    }
    h2{
        &:after{
            left: 40px;
        }
        .toggle-icon{
            &:before{
                color: #3867c8;
                font-size: .5em;
                vertical-align: text-top;
                line-height: 39pt;
            }
        }
    }
}

.loading-animation{
    z-index: 15;
    position: fixed;
    background-repeat: no-repeat;
    background-position: 50% 15px;
    background-color: white;
    top: 40%;
    height: auto;
    width: 200px;
    border: 1px solid #ddd;
    padding: 15px;
    color: #666;
    margin: auto;
    display: block;
    left: 40%;
    left: calc(50% - 100px);
    text-align: center;
    @include box-shadow(0 8px 17px 0 rgba(0,0,0,0.2));
    &:before{
        content: url($assets-directory+"/images/gif/loading.gif");
        display: block;
    }
}

header.main-header{
    z-index: 5;
    position: relative;
}

.container-top-menu{
    z-index: 5;
    position: static;
}

.menu-separator{
    z-index: 1;
    position: relative;
}