.custom-select{
    .v-select{
        .open-indicator{
            display: none;
        }
        .selected-tag {
            background: #efeeed !important;
            border: none;
            border-radius: 0;
            line-height: 18px;
            box-shadow: none;
            font-family: Open Sans,sans-serif;
            font-size: 12pt;
            color: #414042;
            height: 25px;
            padding: .2em 2em .3em .6em;
            vertical-align: baseline;
            position: relative;
            margin: 3px 5px 3px 0;
            cursor: default;
            .close {
                background: #7da1c4;
                position: absolute;
                top: 0;
                line-height: 19pt;
                color: #fff;
                font-size: 10pt;
                padding: 0 5px;
                display: table !important;
                opacity: 1;
                right: 0;
                height: 25px;
                display: inline-block;
                width: 23px;
                transition: all .35s linear 0s;
                &:hover{
                    background-color: #fe5000;
                }
                span {
                    font-size: 18pt!important;
                    line-height: 18pt!important;
                }
            }
        }
        .dropdown-toggle {
            border: 1px solid #cfcfcf !important;
            border-radius: 0;
            padding: 0 8px;
        }
        ul.dropdown-menu {
            box-shadow: 0 4px 5px rgba(0,0,0,.15);
            padding-left: 34.6px;
            >li{
                &:before{
                    content: none;
                }
                &.area-list-heading{
                    color: #414041;
                    font-weight: 600;
                    text-transform: capitalize;
                    margin-bottom: 5px;
                    margin-top: 17px;
                }
                &.highlight, &:hover{
                    > a{
                        background: none;
                        text-decoration: underline !important;
                    }
                }
                &.active, &.active > a{
                    background: none;
                    color: #968c83 !important;
                }
            }
            >a{
                padding-left: 15px;
            }
            >li, >a{
                color: #3867c8;
                font-weight: 400;
                padding: 0;
                margin-left: 0;
            }
            >li, >li>a, >li:hover, >li:hover>a, >li>a:hover{
                font-size: 13pt!important;
                line-height: 18pt!important;
            }
        }
    }
}