
$blue: #23527c;
$purple: #5d4777;


$bright-red: #C47D7D;
$bright-blue: #7da1c4;

$dark-red: #EE382B;
$dark-green: #26C045;
$dark-blue: #3867C8;
$dark-yellow: #FFBA33;
$orange: #fe5000;

$background-red: #f2dede;
$background-green: #dff0d8;
$background-yellow: #fcf8e3;

$disabled-color: #CFCFCF;