
$blue: #23527c;


$bright-red: #C47D7D;
$bright-blue: #7da1c4;

$dark-red: #FF4E33;
$dark-green: #2AD45D;
$dark-blue: #3867C8;
$dark-yellow: #FFBA33;
$orange: #fe5000;

$background-red: #f2dede;
$background-green: #dff0d8;
$background-yellow: #fcf8e3;