
$blue: #23527c;
$purple: #5d4777;


$bright-red: #C47D7D;
$bright-blue: #7da1c4;

$dark-red: #EE432a;
$dark-orange: #FE9632;
$dark-yellow: #FED633;
$dark-lime: #D9D007;
$dark-green: #36c545;
$dark-blue: #3867C8;
$orange: #fe5000;

$background-red: #f2dede;
$background-green: #dff0d8;
$background-yellow: #fcf8e3;

$disabled-color: #CFCFCF;